{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Compass Starter by Ariona, Rian</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		

		<script src="{% static 'js/ie-support/html5.js' %}"></script>
		<script src="{% static 'js/ie-support/respond.js' %}"></script>
	

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="{% url 'weather:home' %}" class="branding">
						<img src="{% static 'images/logo.png' %}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Benfoxy</h1>
							<small class="site-description">Bak-end developer</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="{% url 'weather:home' %}">Home</a></li>
							<li class="menu-item"><a href="{% url 'blog:news' %}">News</a></li>
							<li class="menu-item"><a href="{% url 'weather:contact' %}">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</div> <!-- .site-header -->
            {% block body %}

            {% endblock body %}
        </footer> <!-- .site-footer -->
    </div>
	</main> <!-- .main-content -->
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<!--<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>-->
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="https://www.instagram.com/benyfoxy.exe/"><i class="fa fa-instagram"></i></a>
								<a href="https://github.com/Benfoxyy"><i class="fa fa-github"></i></a>
							</div>
						</div>
					</div>

					<p class="colophon">©️Copyright Benfoxy.</p>
				</div>
    
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    
</body>

</html>